@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border: 214.3 31.8% 91.4%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --border: 217.2 32.6% 17.5%;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
} 